* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
}

html,
body {
	background-color: #fff;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: none;
}

.row {
	max-width: 70%;
	margin: 0 auto;
}

.header-image {
	max-width: 350px;
	padding-top: 25px;
	padding-bottom: 25px;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-weight: 370;
	margin: 50px auto 15px auto;
	color: #04193a;
	background-color: #e8fff6;
	width: 70%;
	text-align: center;
	text-transform: none;
}

.title {
	font-family: 'Montserrat', sans-serif;
	background-color: #e8fff6;
	color: #42bcf4;
	margin: 15px auto;
	padding: 50px;
	width: 70%;
	letter-spacing: 3px;
	text-align: center;
}

.contentDiv {
	font-family: 'Open Sans', sans-serif;
	background-color: #e8fff6;
	color: #7590a5;
	padding: 20px;
	margin: 15px auto;
	width: 70%;
	text-align: center;
}

.portfolioItem {}

.portfolio-item-text {
	font-family: 'Open Sans', sans-serif;
	background-color: #e8fff6;
	color: #4d5f6d;
	font-weight: 250;
}

#official {
	background-color: #fff;
	color: #7f7faf;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: none;
	margin: 50px 0;
}

.paragraph {
	color: #7f7faf;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	text-align: center;
	text-transform: none;
	margin: 50px 0;
}

#title {
	font-family: 'Montserrat', sans-serif;
	background-color: #e8fff6;
	color: #42bcf4;
	margin: 15px auto;
	padding: 50px;
	width: 70%;
	letter-spacing: 3px;
}

#portfolio {
	font-family: 'Open Sans', sans-serif;
	background-color: #e8fff6;
	color: #7590a5;
	padding: 20px;
	margin: 0 auto 50px auto;
	width: 70%;
	text-align: center;
}

p {text-transform: none;}

.button:link,
.button:visited {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	background-color: #56b6ff;
	color: #fff;
	padding: 10px 18px;
	letter-spacing: 6px;
	margin-top: 20px;
	border-radius: 50px;
	font-weight: 500;
	transition: box-shadow 0.2s;
}

.button:hover,
.button:active {
	box-shadow: 0px 0px 15px 0 rgba(81, 81, 185, 0.2);
}

.link-button:link,
.link-button:visited {
	color: #56b6ff;
	transition: color 0.3s;
}

.link-button:hover,
.link-button:active {
	color: #0075cd;
}

#media-title {
	font-family: 'Montserrat', sans-serif;
	background-color: #e8fff6;
	color: #42bcf4;
	margin: 15px auto;
	padding: 50px;
	width: 70%;
	letter-spacing: 2px;
	font-weight: 600;
}

.media {
	font-family: 'Open Sans', sans-serif;
	color: #7590a5;
	padding: 20px;
	margin: 15px auto;
	width: 50%;
}
